.p30 {
    padding: 30px
}
.mt14 {
    margin-top: 14px
}
.mb28 {
    margin-bottom: 28px
}
.ml2\% {
    margin-left: 2%
}
.mr-14 {
    margin-right: -14px
}
.pt100 {
    padding-top: 100px
}
.pb200 {
    padding-bottom: 200px
}
.customPaddingLeftCSSClass300 {
    padding-left: 300px
}