.p-30 {
    padding: 30px
}
.mt-14 {
    margin-top: 14px
}
.mb-28 {
    margin-bottom: 28px
}
.ml-2\% {
    margin-left: 2%
}
.mr-neg-14 {
    margin-right: -14px
}
.pt-100 {
    padding-top: 100px
}
.pb-200 {
    padding-bottom: 200px
}
.customPaddingLeftCSSClass-300 {
    padding-left: 300px
}